[Desktop Entry]
Type=Application
Name=OpenHantek
GenericName=Digital Storage Oscilloscope
GenericName[de]=Digitales Speicheroszilloskop
GenericName[es]=Osciloscopio de almacenamiento digital
GenericName[fr]=Oscilloscope numérique de stockage
GenericName[it]=Oscilloscopio a memoria digitale
GenericName[pl]=Cyfrowy oscyloskop magazynowy
GenericName[pt]=Osciloscópio de armazenamento digital
GenericName[ru]=Цифровой запоминающий осциллограф
GenericName[sv]=Digitalt lagringsoscilloskop
GenericName[zh]=数字存储示波器
Comment=DSO software for Hantek DSO6022 USB hardware
Comment[de]=DSO software für Hantek DSO6022 USB hardware
Comment[es]=Software DSO para el hardware Hantek DSO6022 USB
Comment[fr]=Logiciel DSO pour matériel USB Hantek DSO6022
Comment[it]=Software DSO per hardware Hantek DSO6022 USB
Comment[pl]=Oprogramowanie DSO dla sprzętu Hantek DSO6022 USB
Comment[pt]=Software DSO para hardware USB Hantek DSO6022
Comment[ru]=Приложение для USB-осциллографа Hantek DSO6022
Comment[sv]=DSO-programvara för Hantek DSO6022 USB-hårdvara
Comment[zh]=用于Hantek DSO6022 USB硬件的DSO软件
Exec=OpenHantek
Icon=OpenHantek
Categories=Development;Engineering;Electronics;
